

<br><br>
<h2>About us</h2>
<p>This wiki was created by</p>
<p>Jakob Fischer</p>
<!-- <p><%= $myinfo %></p>      Commented out as the variable displays the whole
wiki text instead of just my name-->
<p>Staff ID: XXXXXXXX</p>
