<div class="well well-lg my-well">
   <h3 class="wiki-title">About us</h3>
   <hr class="dark-hr" />
    <p>This wiki was created by</p>
    <p>Jakob Fischer (5773261) & Chidozie Nnachor (51773318)</p>
    <!-- <p><%= $myinfo %></p>      Commented out as the variable displays the whole
    wiki text instead of just my name-->
    
</div>
