<div class="well well-lg my-well">
   <h3 class="wiki-title">Wiki updated!</h3>
   <hr class="dark-hr" />
    <div class="wiki-content alert alert-success" role="alert">
        <p>As you are already logged in as the "Admin" user, the changes do not need to be approved by yourself. Thus, the wiki was updated directly.
        <br> Note: to approve updates by regular users, go to Admincontrols and then click on "approve pending updates"</p>
    </div>
</div>
