<div class="well well-lg my-well">
   <h3 class="wiki-title">This is your own personal create page</h3>
   <hr class="dark-hr" />
    <div class="wiki-content">
        <%= $myinfo %>
    </div>
</div>
