<div class="well well-lg my-well">
   <h3 class="wiki-title">Udpade request denied!</h3>
   <hr class="dark-hr" />
    <div class="wiki-content alert alert-info" role="alert">
        The Wiki was not updated.
    </div>
</div>
