<div class="well well-lg my-well">
   <h3 class="wiki-title">Account not found!</h3>
   <hr class="dark-hr" />
    <div class="wiki-content alert alert-info" role="alert">
        <p>This account does not exist or is timed out!</p>
        <p>Why not<a href="/login"> Login?</a></p> 
        <p>Don't have an account? <a href="/createaccount">Create Account</a></p>
    </div>
</div>
