<div class="well well-lg my-well">
   <h3 class="wiki-title">Username already taken!</h3>
   <hr class="dark-hr" />
    <div class="wiki-content alert alert-danger" role="alert">
        <p>Please try another username.</p>
    </div>
</div>