<div class="well well-lg my-well">
   <h3 class="wiki-title">Wiki Reset!</h3>
   <hr class="dark-hr" />
    <div class="wiki-content alert alert-success" role="alert">
        <p>The Wiki has been reset to default.</p>
    </div>
</div>
