<div class="well well-lg my-well">
   <h3 class="wiki-title">Approval Pending</h3>
   <hr class="dark-hr" />
    <div class="wiki-content alert alert-success">
        <p>Your updates have been saved and will be reviewed by an administrator for approval.</p>
    </div>
</div>
