       /* Remove the navbar's default margin-bottom and rounded borders */ 
body {
        font-family: 'Ubuntu', serif;
        font-size: 14px;
        background-color: lightgrey;
      }
h2 {
    font-size: 36px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 0;
    
    border-bottom: 3px solid black;
     
    
}
.home-div {
    background-color: white;
        margin-top: -20px;
        margin-left: -20px;
        margin-right: -20px
        

}


.my-well
{
    margin-top: 10px    ;
}

.btn-sidebar
{
    min-width: 160px;
    margin-bottom: 7px;
}

.wiki-title
{
    margin-top: 0;
}

.wiki-content
{
    white-space: pre-line;
}

.subtitle
{
    color: #aaa;
}

.p-sidebar
{
   padding: 0;
   text-align: center;
   
}

.navbar-brand
{
    padding-top: 0;
}

.dark-hr
{
    padding: 0;
    margin-top: 0;
    border: 1px solid #aaa;
}


.navbar {
      margin-bottom: 0;
      border-radius: 0;
}

.left{
    float: left;
}

.right{
    float: right;
}

    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 100%}
    

    
    /* Set black background color, white text and some padding */
footer {
      background-color: #555;
      color: white;
      padding: 15px;
}
    
    /* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
}



